<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="cbfFName">Pr&eacute;nom</label>
            <input type="text" class="form-control" id="cbfFName">
        </div>
        <div class="form-group col-md-6">
            <label for="cbfName">Nom</label>
            <input type="text" class="form-control" id="cbfName">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="cbfCountry">Pays</label>
            <select id="cbfCountry" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label for="cbfPhone">Num&eacute;ro de t&eacute;l&eacute;phone</label>
            <input type="text" class="form-control" id="cbfPhone">
        </div>
        <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">Appellez moi</button>
        </div>
    </div>

</form>