/* #e85711 orange foncé */

#main {
    background-color: #F8F9FA;
    min-height: 100vh;
    height: 100%;
    padding: 5px 5px 5px 15px;
    -webkit-box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.57);
    box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.57);
}

/* Menu */
.resized {
    min-width: auto !important;
}

.nav-fill .nav-item {
    text-align: justify;
}

.no-background {
    background-color: rgba(0,0,0,0) !important;
}

img.locale-icon {
    max-height: 20px;
    max-width: 20px;
}

/* card contenant le formulaire de demande de rappel */
#formcard {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hidden {
    display: none !important;
}

.msg-error {
    color: #AA3333;
}


/* page registred */
.centered {
    text-align: center;
}
.page-centered {
    margin-top: 20vh;
    display: inline-block;
}

/* page list */
.tab-header {
    border-bottom: 2px solid #e85711;
}

.tab-role-col, .tab-role-row {
    font-weight: bold;
}

.tab-header, .tab-row-striped {
    margin: auto;
    padding: 0.5rem 0;
    text-align: center;
}

.tab-row-striped:nth-of-type(2n+1) {
    background-color: rgba(232,87,17,.15);
}

/* pagination */
.pagination {
    margin: 2rem auto;

}
.page-link {
    color: rgba(232,87,17,1);
}

.page-link:hover {
    color: rgba(232,87,17,1);
    background-color: rgba(232,87,17,.15);
}
.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(232,87,17,.15);
}

.page-item.active .page-link {
    background-color: rgba(232,87,17,1);
    border-color: rgba(232,87,17,1);
}

/* 404 */

.errorSection {
    position: relative;
    height: 300px;
    text-align: center;
}
.errorContent {
    position: absolute;
    width: 70%;
    margin: 0 15%;
    top: 18%;
    text-align: center;
}

.bgText {
    position: absolute;
    left: 0;
    top: -10%;
    font-size: 250px;
    font-weight: 700;
    color: #f2f2f2;
    text-align: center;
    width: 100%;
    height: 100%;
}

.errorContent .btn-back {
    padding: 13px 0;
    color: #fff;
    background: #ed7941;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    width: 183px;
    margin: 30px auto 0;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 768px) {
    .tab-header, .tab-row-striped {
        margin: auto;
        padding: 0.5rem 0;
        text-align: left;
    }
}

@media (max-width: 567px){
    .errorContent {
        top: 15%;
    }
}

@media (max-width: 767px) {
    .errorSection {
        height: 300px;
    }

    .bgText {
        top: 0;
        font-size: 187px;
        width: 100%;
        height: 100%;
    }
    .errorContent {
        top: 10%;
        width: 100%;
        margin: 0;
    }
}