/* card contenant le formulaire de demande de rappel */
#formcard {
    padding-top: 2rem;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f16f17;
    color: #ffffff;
    opacity: 1;
    border: 0;
}