{% extends 'base.html.twig' %}

{% block title %}Register | {{ parent() }}{% endblock %}

{% block body %}
    <div class="centered">
        <div class="alert alert-success page-centered" role="alert">
           Votre demande de rappel a bien &eacute;t&eacute; enregistr&eacute;
        </div>
    </div>
{% endblock %}
