{% extends 'base.html.twig' %}

{% block title %}{{ menu.register | trans }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="centered">
        <div class="alert alert-success page-centered" role="alert">
            {% trans %}
            msg.success
            {% endtrans %}
        </div>
    </div>
{% endblock %}
